:root {
    --primary: #00AACC;
    --secondary: #5D737F;
}

@font-face {
    font-weight: 700;
    font-family: "Geo";
    src: url(../fonts/Geo-Regular.ttf);
}

@font-face {
    font-family: "Geo Italic";
    src: url(../fonts/Geo-Italic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    opacity: 0.25;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: -2;
    position: fixed;
}

.main {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.navbar a {
    color: var(--primary);
    font-family: "Geo";
    font-size: 3rem;
    margin: 1vw;
    text-decoration: none;
}

.navbar i {
    color: var(--secondary);
}


.navbar {
    margin-left: 30px;
}