@import "global-style.css";

body {
    height: 100vh;
    overflow: scroll;
}

.navbar a {
    color: var(--primary);
    font-family: "Geo";
    font-size: 3rem;
    margin: 1vw;
    text-decoration: none;
}

.navbar i {
    color: var(--secondary);
}

/* Passenger Cards */
.passenger {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.passenger h1{
    font-family: "Geo";
    font-size: 4rem;
    
}

.passenger-cards {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.passenger-cards button{
    border-radius: 20px;
    padding: 4rem;
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    width: 18rem;
    height: 23rem;
    border: none;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
    transition: 0.3s ease-in-out;
}

.passenger-cards button:hover {
    transform: scale(1.1);
}

.passenger a button {
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 2.5rem;
    background-color: var(--primary);
    border: none;
    font-size: 3rem;
    font-family: "Geo";
    color: white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
    transition: 0.3s ease-in-out;
}

.passenger a button:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 1200px) {
    .passenger-cards button{
        padding: 4rem;
        width: 15rem;
        height: 16rem;
        margin-bottom: 1rem;
    }

    .passenger a button {
        margin: 0.5rem 1rem 1rem 1rem;
    }
    
}